<h1>Identities</h1>

<table>
{{#each identities}}
  <tr>
    <td><img src="{{profileImage}}" width="20" height="20" /></th>
    <td><a href="/identity/{{did}}">{{name}}</a></th>
  </tr>
{{~/each}}
</table>